/* Start of Page Dashboard In CSS */

#pageDashboard {
  background: #f4f5f7;
}

#pageDashboard .leftSidebar {
  background: #fff;
  padding: 35px 0px;
  min-height: calc(100vh - 70px);
}

#pageDashboard .rightContent {
  padding: 32px 25px;
}

#pageDashboard .leftSidebar .pageTitle {
  padding: 0px 24px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #8a8a8a;
}

#pageDashboard .leftSidebar .menuItem {
  width: 100%;
  display: block;
  padding: 11px 24px;
  background: #fff;
  background: #cfd4ed;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #151515;
  text-decoration: none;
  transition: 0.3s ease;
}
#pageDashboard .leftSidebar .menuItem:hover {
  background: #cfd4ed;
}
#pageDashboard .leftSidebar .menuItemActive {
  width: 100%;
  display: block;
  padding: 11px 24px;
  background: #cfd4ed;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #151515;
  text-decoration: none;
  transition: 0.3s ease;
}
#pageDashboard .leftSidebar .menuItemActive:hover {
  color: #140085;
}

#pageDashboard .rightContent .breadcrumb {
  margin-bottom: 58px;
}

#pageDashboard .rightContent .breadcrumb .breadcrumbRoot {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  margin-right: 4px;
  margin-bottom: 0px;
}

#pageDashboard .rightContent .breadcrumb .breadcrumbArrow {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

#pageDashboard .rightContent .breadcrumb .breadcrumbCurrent {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #222222;
  margin-bottom: 0px;
}

@media only screen and (max-width: 450px) {
  #pageDashboard .leftSidebar {
    background: #fff;
    padding: 35px 0px;
    min-height: initial;
  }
}

/* End of Page Dashboard In CSS */
