/* Start of Component Bar Graph */

#componentBarGraph .barGraphContainer .titleAreaBarGraph .titleBarGraph {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  display: inline-block;
  overflow: visible;
  margin: 0px 15px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

#componentBarGraph > .container-fluid {
  padding: 0px;
}

/* End of Component Bar Graph */
