/* Navbar/Header */

html {
  scroll-behavior: smooth;
}

#headerNavbar {
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  height: 70px;
  padding: 18px 24px;
}

#headerNavbar .navbar-brand {
  width: 100px;
  height: 34px;
  background: #cfd4ed;
  border: none;
  margin-right: 123px;
}

#headerNavbar .header-search input {
  padding: 9px 12px;
  gap: 8px;
  width: 174px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  background-image: url(../assets/img/fi_search.png);
  background-position: 9px 9px;
  background-repeat: no-repeat;
  text-indent: 20px;
  margin-right: 0px !important;
}
#headerNavbar .header-search input:focus {
  background-image: none;
  text-indent: 0px;
  box-shadow: 0 0 20px -5px rgb(0 0 0 / 25%);
}
#headerNavbar .header-search input::placeholder {
  font-family: "Arial";
  font-size: 12px;
  line-height: 18px;
  color: #c7c7c7;
  margin-bottom: 3px;
}

#headerNavbar .header-search .search-button {
  padding: 8px 12px;
  gap: 10px;
  width: 71px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #0d28a6;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #0d28a6;

  transition: 0.3s ease;
}
#headerNavbar .header-search .search-button:hover {
  background: #0d28a6;
  color: #fff;
}

#headerNavbar #navbarNav .navbar-nav .nav-item .user-image {
  width: 38px;
  height: 38px;
}

#headerNavbar #navbarNav .navbar-nav .nav-item .nav-link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
#headerNavbar #navbarNav .navbar-nav .nav-item .nav-link.user-nav::after {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background: transparent url("../assets/img/fi_chevron-down.png") no-repeat;
  vertical-align: -35%;
  margin-left: 8px;
}

@media only screen and (min-width: 991px) {
  nav#headerNavbar div.offcanvas-button {
  }

  .customOffCanvas {
    width: 25% !important;
  }
}
@media only screen and (max-width: 990px) {
  #headerNavbar {
    padding: 10px 15px;
  }

  #headerNavbar .navbar-brand {
    margin-right: 35%;
  }

  nav#headerNavbar button.navbar-toggler {
    display: none;
  }
  .customOffCanvas .offcanvas-header {
    padding-bottom: 0px;
    padding-top: 34px;
  }
  .customOffCanvas .offcanvas-body {
    padding-top: 0px;
  }
  .customOffCanvas {
    width: 75% !important;
  }
}

/* End of Navbar / Header */
