/* Start of Component Order Table In CSS */

#componentOrderTable .orderTable thead tr {
  background: #cfd4ed;
  border-radius: 2px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

/* Start of Component Order Table In CSS */
