/* Start of Section List Car In CSS */

#sectionListCar .row > .col-lg-12 {
  padding: 0px;
}

#sectionListCar .titleArea {
  margin-bottom: 24px;
}

#sectionListCar .listCarTitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 0px;
}

#sectionListCar .titleArea .addNewButton {
  width: 142px;
  height: 36px;
  padding: 8px 12px;
  background: #0d28a6;
  border-radius: 2px;
  color: #fff;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  transition: 0.3s ease;
}

#sectionListCar .titleArea .addNewButton:hover {
  background: #5974ec;
}

#sectionListCar .filterArea {
  margin-bottom: 24px;
}

#sectionListCar .filterArea .buttonFilter {
  margin-right: 18px;
  padding: 8px 12px;
  background: #ffffff;
  border: 1px solid #aeb7e1;
  border-radius: 2px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #aeb7e1;
  transition: 0.3s ease;
}

#sectionListCar .filterArea .buttonFilter:hover {
  background: #cfd4ed;
  border: 1px solid #0d28a6;
  color: #0d28a6;
}

#sectionListCar .filterArea .buttonFilter.active {
  background: #cfd4ed;
  border: 1px solid #0d28a6;
  color: #0d28a6;
}

#sectionListCar .carCardContainer > article {
  margin-bottom: 24px;
}

@media only screen and (max-width: 450px) {
  #sectionListCar .filterArea {
    margin-bottom: 4px;
  }

  #sectionListCar .filterArea .buttonFilter {
    margin-bottom: 20px;
  }
}

/* End of Section List Car In CSS */
